<h1>Todas las Tareas</h1>
<span><%= link_to 'cerrar sesión', destroy_user_session_path, method: :delete %></span>

<div class="projects">
	<div class="projectForm">
		<label for="projectInput">Crear un proyecto</label>
		<input type="text" id="projectInput">
		<button id="createProjectButton">Crear proyecto</button>
	</div>
	<div class="error"></div>
	<br>
	<div class="manual">
		<h3>Agregar manualmente</h3>
		<label for="taskName">Nombre de la tarea</label>
		<input type="text" id="taskName" placeholder="nombre de la tarea">
		<br>
		<label for="projectList">Escoge el proyecto</label>
		<select class="projectLIst"></select>
		<div>
			<h5>Inicio</h5>
			<label for="startDateHrs">Horas</label>
			<input type="text" pattern="\d+" id="startDateHrs" placeholder="00" size="2" maxlength="2">
			<label for="startDateMits">Minutos</label>
			<input type="text" pattern="\d+" id="startDateMits" placeholder="00" size="2" maxlength="2">
			<label for="startDateSecs">Segundos</label>
			<input type="text" pattern="\d+" id="startDateSecs" placeholder="00" size="2" maxlength="2">
		</div>
		<div>
			<h5>Fin</h5>
			<label for="endDateHrs">Horas</label>
			<input type="text" pattern="\d+" id="endDateHrs" placeholder="00" size="2" maxlength="2">
			<label for="endDateMits">Minutos</label>
			<input type="text" pattern="\d+" id="endDateMits" placeholder="00" size="2" maxlength="2">
			<label for="endDateSecs">Segundos</label>
			<input type="text" pattern="\d+" id="endDateSecs" placeholder="00" size="2" maxlength="2">
		</div>
		<br>
		<button id="manualTask">Crear</button>
	</div>
</div>

<div id="timerForm">
	<label for="timerInput">Tarea</label>
	<input id="timerInput" type="text">
	<label id="minutes">00</label>:<label id="seconds">00</label>
	<select class="projectLIst"></select>
	<button id="startTimer">Iniciar</button>
	<button id="stopTimer">Detener</button>
</div>

<div id="tasksList">
</div>

<%= link_to 'Mis proyectos', projects_path %>