<h1>Hola</h1>

<%= link_to 'Nuevo proyecto', new_project_path %>

<% @projects.each do |project| %>
	<p><%= project.name %> - <%= link_to 'Nueva tarea', new_project_task_path(project) %></p>
<% end %>